[Unit]
Description=Run Bing wallpaper downloader daily

[Timer]
Persistent=true
OnBootSec=30s
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
